# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# System files
.DS_Store
Thumbs.db
.vscode

# Ignore folders
data/
exports/
out/ 
datasets/
lora_adapter/
temp/

.env
*.pyc
*.log 
doc.txt 

